/* ============= colors =========== */
:root {
  --color-search: #645AA5; 
  --color-friends: #8E3B88; 
  --color-playlists: #E8314F; 
  --color-notifications: #F47726; 

  --color-search-light: #e0deed; 
  --color-friends-light: #ecd3eb; 
  --color-playlists-light: #fad5db; 
  --color-notifications-light: #fce3d3; 
}

/* ============= logo ============= */
.logo-text {
	color: #645AA5;
}
.logo i:nth-child(1) {
	color: #645AA5;
}
.logo i:nth-child(2) {
	color: #8E3B88;
	transform: rotate(-5deg) translate(-.07em, -.2em);
}
.logo i:nth-child(3) {
	color: #E8314F;
	transform: rotate(5deg) translateY(-.4em);
}
.logo i:nth-child(4) {
	color: #F47726;
	transform: rotate(-5deg) translateX(-.15em);
}

/* ============= user ============= */
.user-picture {
	width: 64px;
	height: 64px;
	background: var(--warning);
	border-radius: 50%;
}
.user-picture-sm {
	width: 48px;
	height: 48px;
	background: var(--warning);
	border-radius: 50%;
}
.user-picture-xs {
	width: 32px;
	width: 32px;
	background: var(--warning);
	border-radius: 50%;
}
.notification-count {
	position: relative;
	top: 15px;
	right: 15px;
	margin-right: -15px;
}
.user a:hover {
	text-decoration: none;
}

/* ============= card selector ============= */
.hidden-checkbox {
	opacity: 0;
	position: absolute;
	width: 0px;
	height: 0px;
}
.form-check-label {
	cursor: pointer;
}
.selected-item {
	background: var(--success);
	color: var(--white);
}
.selected-item img {
	filter: opacity(.5);
}
.selected-item div:before {
	font: 400 13.3333px Arial;
	font-size: 1.5rem;
	position: absolute;
	top: 10px;
  left: 10px;
	content: "\f1e0";
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
}

/* ============= speech to text ============= */
.stt-button {
	background: white;
	color: var(--secondary);
	margin: .1rem;
	/*padding: .120rem .575rem;*/
	padding: .0rem .5rem;
	font-size: 135%;
}

.stt-recording {
  background: red;
  color: white;
  animation: stt-recording-anim .5s steps(2, end) infinite;
  animation-direction: alternate;
}

.stt-recording:hover {
  background: red;
  color: white;
  animation: stt-recording-anim .5s steps(2, end) infinite;
  animation-direction: alternate;
}

@keyframes stt-recording-anim {
  0%   { color: white; }
  100% { color: red; }
}

.stt-input {
	padding: 0px;
}

.stt-input input[type="text"] {
	width: 100%;
	height: calc(2.25rem + 2px);
	line-height: 1.5;
	font-weight: 400;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	padding: .375rem .75rem;
	font-size: 1rem;
	display: block;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid var(--secondary);
	overflow: visible;
	margin-right: 24px;
}

.stt-input input[type="text"]:focus {
	color: #495057;
	background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
	z-index: 3;
}

.stt-input .stt-button {
	position: absolute;
	overflow: visible;
	top: 0px;
	right: 0px;
}

.stt-textarea {
	position: relative;
}
.stt-textarea .stt-button {
	position: absolute;
	overflow: visible;
	top: 0px;
	right: 0px;
	font-size: 1.7rem;
	border: 1px solid var(--secondary);
	margin: .5rem;
	padding-left: .75rem;
	padding-right: .75rem;
}

/* ================ comment bubble =============== */

.bubble-arrow {
	content: url(/static/img/bubble-arrow.svg);
	position: relative; 
	top: -44px; 
	left: 69px; 
	width: 12px; 
	height: 16px; 
	z-index: 1;
}

.bubble-text {
	z-index: 0;
	background: lightgray;
	position:relative; 
	top: -80px; 
	margin-left: 80px; 
	margin-bottom: -72px; 
	padding: 16px; 
	border-radius: 10px
}

.bubble-text a {
	text-decoration: none;
	color: var(--dark);
}

/* ================ search bar =============== */

.prompt-select:focus {
	z-index:3;
}

/* ================ misc =============== */

body {
	padding-top: 4rem;
}

.player {
	background: black;
}

.card-img-4 img {
	width: 50%;
	border-radius: 0px;
}

.card-img-4 img:nth-child(1) {
	border-top-left-radius: calc(.25rem - 1px);
}

.card-img-4 img:nth-child(2) {
	border-top-right-radius: calc(.25rem - 1px);
}

.no-decoration:hover {
	text-decoration: none;
}
.no-decoration {
	color: var(--dark);
}

/* =================== prompts ================= */

.idle {
	animation: idleBlinker 2s linear;
}

@keyframes idleBlinker {
  0% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  25% {
    -webkit-box-shadow: 0 0 5rem 0 green;
    -moz-box-shadow: 0 0 5rem 0 green;
    box-shadow: 0 0 5rem 0 green;
  }
  50% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  75% {
    -webkit-box-shadow: 0 0 5rem 0 green;
    -moz-box-shadow: 0 0 5rem 0 green;
    box-shadow: 0 0 5rem 0 green;
  }
  100% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.arrow-prompt {
	position: fixed;
	bottom: 20px;
	left: 20px;
	font-size: 5rem;
	opacity: 0;
	color: green;
}

.arrow-prompt.idle {
	animation: arrowIdleBlinker 2s linear;
}

@keyframes arrowIdleBlinker {
  0% {
    opacity: 0;
    text-shadow: 0 0 0 transparent;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 3rem green;
  }
  50% {
    opacity: 0;
    text-shadow: 0 0 0 transparent;
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 3rem green;
  }
  100% {
    opacity: 0;
    text-shadow: 0 0 0 transparent;
  }
}

/* =================== navbar ================= */

.nav-item {
	font-size: 200%;
	border: 1px solid rgba(0, 0, 0, .25);
	border-radius: .25rem;
	margin-left: .5rem;
	margin-right: .5rem;
	padding-left: .5rem;
	padding-right: .5rem;
}

.navbar-collapse.show .nav-link {
	padding-left: .5rem;
	padding-right: .5rem;
}

.navbar-collapse.collapsing .nav-link {
	padding-left: .5rem;
	padding-right: .5rem;
}

.navbar-collapse.show .navbar-nav {
	display:inline-block;
	margin-top: .5rem;
}

.navbar-collapse.show .nav-item {
	margin: .25rem;
	padding-left: .5rem;
	display: inline-block;
}
.navbar-collapse.collapsing .navbar-nav {
	display:inline-block;
	margin-top: .5rem;
}
.navbar-collapse.collapsing .nav-item {
	margin: .25rem;
	display: inline-block;
}

.nav-user-picture {
	max-width: 4.125rem;
	max-height: 4.125rem;
	border-radius: 50%;
	background: var(--warning);
}

.notification-count {
	font-size: 40%;
	position: relative;
	margin-left: -11px;
	top: 8px;
	left: -2px;
	border: 1px solid #f8f9fa!important;
	--background-color: var(--color-notifications);
}

.nav-item.active:nth-child(2) {
	border-color: var(--color-search) !important;
	background-color: var(--color-search-light) !important;
}
.nav-item.active:nth-child(2) > .nav-link {
	color: var(--color-search) !important;
}
.nav-item.active:nth-child(3) {
	border-color: var(--color-friends) !important;
	background-color: var(--color-friends-light) !important;
}
.nav-item.active:nth-child(3) > .nav-link {
	color: var(--color-friends) !important;
}
.nav-item.active:nth-child(4) {
	border-color: var(--color-playlists) !important;
	background-color: var(--color-playlists-light) !important;
}
.nav-item.active:nth-child(4) > .nav-link {
	color: var(--color-playlists) !important;
}
.nav-item.active:nth-child(5) {
	border-color: var(--color-notifications) !important;
	background-color: var(--color-notifications-light) !important;
}
.nav-item.active:nth-child(5) > .nav-link {
	color: var(--color-notifications) !important;
}
