<div class="row">
	<div class="col">
	{% if comments|length > 0 %}
		{% for item in comments %}
		<div class="card border-0">
			<a name="{{ item._id }}"></a>
			<div class="card-body">
				<img class="user-picture" src="{{ item.user.picture }}">
				<div class="bubble-arrow"></div>
				<div class="bubble-text">
				{% if show_video %}
				<a style="text-align: left;" class="btn" href="/watch/{{ item.video_id }}">
						<img width="50%" style="float: right" src="http://i3.ytimg.com/vi/{{ item.video_id }}/hqdefault.jpg" class="rounded img-thumbnail ml-1 mb-1">
						{{ item.text }}
				</a>
				{% else %}
					{{ item.text }}
				{% endif %}
				</div>

				{% if item.shared_with|length > 0 %}
				<div class="float-right bubble-shared">
					{% for share_user in item.shared_with %}
					<img class="user-picture-xs mr-1" src="{{ share_user.picture }}">
					{% endfor %}
				</div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	{% else %}
		<h2>No comment</h2>
	{% endif %}
	</div>
</div>
