<div class="modal" id="confirm-dialog" tabindex="-1" role="dialog" aria-labelledby="confirm-dialog-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm-dialog-label"> <i class="confirm-dialog-icon fas"></i> <span class="confirm-dialog-title"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<p class="confirm-dialog-text"></p>
			</div>
			<div class="modal-footer">
				<button id="confirm-dialog-confirm" type="button" class="btn btn-primary"><i class="confirm-dialog-icon fas fa-check"></i> <span class="confirm-dialog-target">Ok</span></button>
				<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
			</div>
		</div>
	</div>
</div>
<script>
function confirm_dialog(icon, title, question, target, callback) {
	$('#confirm-dialog').on('show.bs.modal', function (e) {
		$('.confirm-dialog-icon').addClass(icon);
		$('.confirm-dialog-title').text(title);
		$('.confirm-dialog-text').html(question);
		$('.confirm-dialog-target').text(target);
		$('.confirm-dialog-target').parent('button').click(callback);
	})
}
</script>
