{% extends 'base.tmpl' %}
{% block title %}Favorites{% endblock %}
{% block body %}
<h3>Favorites</h3>
{% for folder in folders %}
	<hr>
	<a href="/favorites/{{ folder._id }}">
		<h4 class="favorite-folder"> <i class="fas fa-heart"></i> {{ folder.name }} ({{ folder.count }})</h4>
	</a>
	{% set results = folder.videos %}
	{% include 'search_results.tmpl' %}
	{% if results|length < folder.count %}
	<a href="/favorites/{{ folder._id }}"> See all... </a>
	{% endif %}
{% endfor %}
{% endblock body %}
