<div class="row mb-2">
	<div class="col">
		<div class="btn-group-toggle" data-toggle="buttons">
			{% for user in friends %}
			<label class="btn border-success btn-success-outline mr-2 mb-2 {{ 'active disabled' if user.selected }}">
				<input type="checkbox" {{ 'checked disabled' if user.selected }} name="friend" value="{{ user._id }}" autocomplete="off"> 
				<img src="{{ user.picture }}" class="user-picture" alt="{{ user.name|e }}">
				{{ user.name|e }}
			</label>
			{% endfor %}
		</div>
	</div>
</div>
