{% set nologo = True %}
{% extends 'base.tmpl' %}
{% block title %}{% endblock %}
{% block appname %}HowToApp{% endblock %}
{% block body %}
<div style="margin-bottom: 30%" class="row">
	<div class="col">
		<div style="font-size: 500%; text-align: center; margin-top: 10%; margin-bottom: 1rem;">
			{% include 'logo.tmpl' %}
		</div>
		<div>
			{% include 'search_bar.tmpl' %}
		</div>
		{% if debug %}
		<div>
			<p>
			Debug: <ul>
			{% for link in debug_links %}
				<li><a href="{{ link }}">{{ link }}</a></li>
			{% endfor %}
			</ul>
			</p>
		</div>
		{% endif %}
	</div>
</div>
{% endblock body %}
