{% set nologo = True %}
{% extends 'base.tmpl' %}
{% block title %}Search{% endblock %}
{% block body %}
<div class="row">
	<div class="col">
		<div style="font-size: 500%; text-align: center; margin-top: 10%; margin-bottom: 1rem;">
			{% include 'logo.tmpl' %}
		</div>
		<div>
			{% include 'search_bar.tmpl' %}
		</div>
		{% if debug %}
		<div>
		<!--<div class="row">-->
		<p>
		Debug: 
			{% for link in ['/debug:users'] %}
				&nbsp;&nbsp;<a href="{{ link }}">{{ link }}</a>
			{% endfor %}
			{% if user %}
				{% for link in ['/logout', '/friends', '/comments', '/shared', '/notifications', '/recent', '/personal'] %}
					&nbsp;&nbsp;<a href="{{ link }}">{{ link }}</a>
				{% endfor %}
			{% endif %}
		</p>
		</div>
		{% endif %}
	</div>
</div>
{% endblock body %}
