{% extends 'base.tmpl' %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="row">
	<div class="col">
		<h1>Login</h1>
		<form name="login" action="/login" method="post">
			<input id="qrcode" type="hidden" name="qrcode" value="">
			{% if error %}
			<div class="alert alert-danger">Error: {{ error }} </div>
			{% endif %}
			<div class="form-group">
				<label for="email"> <i class="far fa-envelope"></i> Email </label>
				<input class="form-control" id="email" type="email" name="email" value="{{ email|e }}" placeholder="Enter your email" required>
			</div>
			<div class="form-group">
				<label for="password"> <i class="fas fa-key"></i> Password </label>
				<input class="form-control" id="password" type="password" name="password" placeholder="Enter your password" required>
			</div>
			<div class="form-group">
				<button class="btn btn-primary mr-2" id="submit" type="submit"> <i class="fas fa-sign-in-alt"></i> Login </button>
				<!--or create a <a class="ml-1" href="/user"><i class="fas fa-user-plus"></i> New user </a>-->
				<button id='qrcode-start-button' type="button" class="btn btn-secondary" data-toggle="modal" data-target="#qrcode-scanner"> <i class="fas fa-qrcode"></i> Scan QR code </button>

			</div>
		</form>
	</div>
</div>
{% if debug %}
<h1 class="mt-5">Debug</h1>
<div class="row">
	{% for item in users %}
	<div class="col-sm-6 col-md-4 col-lg-3 align-items-stretch">
		<div class="card mb-3">
			<a href="{{ item.href }}">
				<img src="{{ item.picture }}" class="card-img-top" alt="{{ item.name }}">
			</a>
			<div class="card-body">
				<p class="card-text">{{ item.name }}</p>
			</div>
			</a>
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}
{% include 'qrcode_scanner.tmpl' %}
{% endblock body %}
