<div class="row mb-3">
	<div class="col">
	{% if notifications|length == 0 %}
		<h3>No new notification</h3>
	{% else %}
		{% for item in notifications %}
		<a style="display:block; text-decoration: none" href="/notification/{{ item._id }}" class="alert {{ 'alert-info' if item.new else 'alert-secondary' }}">
			{% if item.type == 'friend request' %}
				{% include 'notification_friend_request.tmpl' %}
			{% elif item.type == 'friend accept' %}
				{% include 'notification_friend_accept.tmpl' %}
			{% elif item.type == 'shared content' %}
				{% include 'notification_shared_content.tmpl' %}
			{% else %}
				Notification of unsupported type
			{% endif %}
		</a>
		{% endfor %}
	{% endif %}
	</div>
</div>
