{% extends 'base.tmpl' %}
{% block title %}Personal information{% endblock %}
{% block body %}
<h2>Personal Information</h2>
<div class="row">
	<div class="col">
		<div class="card border-0 mb-3">
			<div class="row">
				<div class="col-4">
					<a href="/">
						<img class="card-img" src="{{ user['picture'] }}">
					</a>
				</div>
				<div class="col-8">
					<div class="card-body">
						<p class="name"><strong>Name:</strong> {{ user['name'] }}</p>
						<p class="name"><strong>Email:</strong> {{ user['email'] }}</p>
						{% if debug %}
						<p class="uid"><strong>debug:Uid:</strong> {{ user['_id'] }}</p>
						{% endif %}
						<form action="/logout" method="get">
							<button class="btn btn-secondary" type="submit"> <i class="fas fa-sign-out-alt"></i> Logout </button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<h2> Navigation </h2>
<div class="row mb-3">
	<div class="col">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" href="/friends"><i class="fas fa-user-friends"></i> Friends</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/shared"><i class="fas fa-share-alt"></i> Shared</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/comments"><i class="far fa-comments"></i> Comments</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/notifications"><i class="fas fa-check"></i> Notifications</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/recent"><i class="fas fa-history"></i> Recent</a>
			</li>
		</ul>
	</div>
</div>
<h2>Notifications</h2>
{% include 'notification_list.tmpl' %}
{% endblock body %}
