{% extends 'base.tmpl' %}
{% block title %}Folder{% endblock %}
{% block body %}
<div class="row">
  <div class="col">
<h3> <i class="fas fa-star"></i> {{ folder.name }} 
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#rename-playlist-dialog"><i class="fas fa-pen"></i> Rename</button>
</h3>
  </div>
</div>
{% set results = folder.videos %}
{% include 'search_results.tmpl' %}

{% from 'dialog.tmpl' import dialog %}
{{ dialog('rename-playlist-dialog', 'fa-star', 'Rename playlist', '<form id="rename-playlist-form" action="/rename-playlist/' + folder._id|string + '" method="post"><input type="text" class="form-control" name="name" placeholder="Type new name here" required></form>',
[
  {'color': 'primary', 'label': 'Rename', 'icon': 'fa-pen', 'onclick': "submit_form('#rename-playlist-form')"},
  {'color': 'danger', 'label': 'Cancel', 'icon': 'fa-times', 'dismiss': True},
]) }}

{% endblock body %}
