{% extends 'base.tmpl' %}
{% block title %}Playlists{% endblock %}
{% block body %}
<div class="row">
  {% for folder in folders %}
  <div class="col-sm-6 col-md-4 col-lg-3 align-items-stretch">
    <div class="card mb-3">
      <a class="no-decoration" href="/playlists/{{ folder._id }}">
        <div class="card-img-4 playlist-container {{ "playlist-empty" if folder.videos|length == 0 else "playlist-regular" }}">
          {% for i in range(4) -%}
          {%- if folder.videos|length > i -%}
          <img src="{{ folder.videos[i].thumbnail }}">
          {%- else -%}
          <img class="card-img-top" src="/static/img/transparent-320x180.png">
          {%- endif -%}
          {%- endfor %}
        </div>
        <div class="card-body">
          {{ folder.name }}
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
  <div class="col-sm-6 col-md-4 col-lg-3 align-items-stretch">
    <div class="card mb-3 card-add-item">
      <a class="no-decoration" href="#" data-toggle="modal" data-target="#new-playlist-dialog">
        <div class="card-img">
          <img class="card-img-top" src="/static/img/playlist-add.svg">
        </div>
        <div class="card-body">
          <i class="fa fa-star"></i> New playlist
        </div>
      </a>
    </div>
  </div>
</div>

{% from 'dialog.tmpl' import dialog %}
{{ dialog('new-playlist-dialog', 'fa-star', 'Create new playlist', '<form id="new-playlist-form" action="/add-playlist" method="post"><input type="text" class="form-control" name="name" placeholder="Type playlist name here" required></form>',
[
  {'color': 'primary', 'label': 'Create', 'icon': 'fa-star', 'onclick': "submit_form('#new-playlist-form')"},
  {'color': 'danger', 'label': 'Cancel', 'icon': 'fa-times', 'dismiss': True},
]) }}

{% endblock body %}
