{% extends 'base.tmpl' %}
{% block title %}Add to playlist{% endblock %}
{% block body %}
<div class="row mb-5">
	<div class="col">
		{% include 'video.tmpl' %}
	</div>
</div>
<div class="row">
	<div class="col">
		<a name="playlist"></a>
		<form id="set-playlist-form" action="/set_playlist/{{ video.video_id }}" method="post">
      {% include 'playlist_selector.tmpl' %}
			<button id="set-playlist-save" type="submit" class="btn btn-primary mr-3 mb-2"><i class="fas fa-star"></i> Save</button>
			<button id="set-playlist-none" type="submit" name="no-playlist" class="btn btn-danger mr-3 mb-2"><i class="fas fa-trash"></i> No playlist</button>
		</form>
	</div>
</div>
  <script>
    $(function() {
      $('#set-playlist-none').click(function() {
        $('input').removeProp('required');
        return true;
      });
    });
  </script>
{% endblock body %}
