<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <!--<a class="navbar-brand" href="#">How-to-app</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
				<a class="nav-link" href="javascript:window.history.back()" title="Back"><i class="fas fa-arrow-left"></i><span class="sr-only">Back</span></a>
      </li>
      <li class="nav-item {{ 'active' if nav == 'search' }}">
				<a class="nav-link" href="/" title="Search"><i class="fas fa-search"></i><span class="sr-only">Search</span></a>
      </li>
			{% if user %}
			<li class="nav-item {{ 'active' if nav == 'friends' }}">
				<a class="nav-link" href="/friends" title="Friends"><i class="fas fa-user-friends"></i><span class="sr-only">Friends</span></a>
			</li>
			<li class="nav-item {{ 'active' if nav == 'playlists' }}">
				<a class="nav-link" href="/playlists" title="Playlists"><i class="fas fa-star"></i><span class="sr-only">Playlists</span></a>
			</li>
			<li class="nav-item {{ 'active' if nav == 'notifications' }}">
				<a class="nav-link" href="/notifications" title="Notifications"><i class="fas fa-bell"></i><span class="sr-only">Notifications</span>
				{%- if user.notification_count > 0 -%}
					<span class="notification-count badge badge-primary">{{ user.notification_count }}</span>
				{%- endif -%}
				</a>
			</li>
			{% endif %}
    </ul>
  </div>
  <div class="float-right">
		{% if user %}
			<a href="/logout" title="User"><img class="nav-user-picture" src="{{ user.picture }}"><span class="sr-only">User</span></a>
		{% else %}
    <ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/login" title="Login"><i class="fas fa-sign-in-alt"></i><span class="sr-only">Login</span></a>
			</li>
		</ul>
		{% endif %}
	</div>
</nav>
