<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="/"> 
		{% if not nologo %} 
			{% include 'logo.tmpl' %} 
		{% else %}
			<span class="logo-text">How-To-App </span>
		{% endif %}</a>
	{% if user %}
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" href="/search"><i class="fas fa-search"></i> Search</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/friends"><i class="fas fa-user-friends"></i> Friends</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/shared"><i class="fas fa-share-alt"></i> Shared</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/playlists"><i class="fas fa-star"></i> Playlists</a>
			</li>
		</ul>
	<div class="user">
		<a href="/notifications"><img class="user-picture-sm" src="{{ user['picture'] }}">
			{% if user['notification_count'] > 0 %}
			<span class="notification-count badge badge-primary">{{ user['notification_count'] }}</span>
			{% endif %}
		</a>
	</div>
	{% else %}
	<div>
		<a class="nav-link" href="/login"> <i class="fas fa-sign-in-alt"></i> Login </a>
	</div>
	{% endif %}
	</div>
</nav>
<nav aria-label="breadcrumb">
	<ol class="breadcrumb bg-transparent">
		{% for item in breadcrumb %}
			{% if loop.last %}
			<li class="breadcrumb-item active" aria-current="page"><i class="fas fa-{{ item.icon }}"></i> {{ item.text }}</li>
			{% else %}
			<li class="breadcrumb-item"><a href="{{ item.link }}"><i class="fas fa-{{ item.icon }}"></i> {{ item.text }}</a></li>
			{% endif %}
		{% endfor %}
	</ol>
</nav>
