{% extends 'base.tmpl' %}
{% block title %}User{% endblock %}
{% block body %}
<div class="row">
	<div class="col">
		<div class="card border-0 mb-3">
			<div class="row">
				<div class="col-4">
					<a href="/">
						<img class="card-img" src="{{ user.picture }}">
					</a>
				</div>
				<div class="col-4">
					<img class="card-img" src="{{ qrcode }}">
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card-body">
						<p>
						<span class="name mr-3"><strong>Name:</strong> {{ user.name }}</span>
						<span class="email"><strong>Email:</strong> {{ user.email }}</span>
						</p>
						<p>
						<a class="btn btn-danger" href="/logout"> <i class="fas fa-sign-out-alt"></i> Logout </a>
						<a class="btn btn-secondary ml-2" href="/user-modify"> <i class="fas fa-user"></i> Change profile </a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}
