<div class="embed-responsive embed-responsive-16by9">
	<!--<video src="{{ video_url }}" controls autoplay></video>-->
	<iframe id="player" 
					class="player"
					type="text/html" 
					width="640" 
					height="390"
					src="https://www.youtube-nocookie.com/embed/{{ video.video_id }}?rel=0&showinfo=0&iv_load_policy=0"
					frameborder="0"
					allow="autoplay"
					allowfullscreen
					>
	</iframe>
</div>
