<div class="card mb-3">
	<a href="/watch/{{ video.video_id }}?q={{ query }}&prompt={{ prompt }}&folder={{ folder._id if folder }}">
	<img class="card-img-top" src="{{ video.thumbnail }}">
	<div class="card-body">
		{{ video.title }}
	</div>
	</a>
</div>
