{% extends 'base.tmpl' %}
{% block title %}Watch{% endblock %}
{% block body %}
<div class="row mb-4">
	<div class="col">
		{% include 'video.tmpl' %}
		<div class="mt-3">
			{% if user %}
				<a class="btn btn-primary" href="/comment/{{ video.video_id }}#form"><i class="fas fa-comment"></i> Add comment</a>
				{% if folder %}
					<a class="btn btn-success" href="/set_playlist/{{ video.video_id }}#form"><i class="fas fa-star"></i> {{ folder.name }} </a>
				{% else %}
					<a class="btn btn-success" href="/set_playlist/{{ video.video_id }}#form"><i class="fas fa-star"></i> Add to playlist </a>
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>
{% if user %}
	{% if comments|length > 0 %}
		<h4> Comments </h4>
		{% include 'comment_list.tmpl' %}
	{% endif %}
{% endif %}
{% endblock body %}
